.RData
.Ruserdata
.Renviron
dropbox_token.rds

*.Rproj
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.sass_cache_keys
*.code-workspace
data_raw/big_files/*
**/big_files/

inst/extdata/*
inst/config.yml

.claude/
.posit/
.bigdata/